extends layout

block content

    br.h5
    .container-fluid
        .row
            .col-xs-10
            .col-xs-1.lio.text-right
            //    a(type='button', data-toggle='modal', data-target='#Settings')
                    i.fa.fa-2x.fa-cogs


            //  #Settings.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Settings - Wallet
                            .modal-body
                                .container-fluid
                                    .row
                                        .col-xs-3 Bitcoin
                                        .col-xs-9
                                            .form-group
                                                input#BTC_wallet.form-control(type='text')
                                    .row
                                        .col-xs-3 BitcoinDark
                                        .col-xs-9
                                                .form-group
                                                    input#BTCD_wallet.form-control(type='text')

                                    .row
                                        .col-xs-3 Dogecoin
                                        .col-xs-9
                                                .form-group
                                                    input#DOGE_wallet.form-control(type='text')
                                    .row
                                        .col-xs-3 Ethereum
                                        .col-xs-9
                                                .form-group
                                                    input#ETH_wallet.form-control(type='text')
                                    .row
                                        .col-xs-3 Litecoin
                                        .col-xs-9
                                                .form-group
                                                    input#LTC_wallet.form-control(type='text')
                            .modal-footer
                                .row
                                    .col-xs-1
                                    .col-xs-10
                                        p to use multiple addresses , just seperate them by ','
                                    .col-xs-1

                                .row
                                    .col-xs-3
                                    .col-xs-6
                                        button.btn.btn-default.btn-block(onclick='update_wallets()' type='button', data-dismiss='modal')
                                            i.fa.fa-3x.fa-rocket

                                    .col-xs-3





            .col-xs-1.lio.text-center.dropdown
                a(type='button', data-toggle='dropdown')
                    i.fa.fa-2x.fa-css3 &nbsp;&nbsp;
                    span.caret
                        ul.dropdown-menu#css_select
                            li.active
                                a(onclick='Theme("cyborg")') cyborg
                            li
                                a(onclick='Theme("spacelab")') spacelab
                            li
                                a(onclick='Theme("darkly")') darkly
        .row
            .col-xs-1.text.text-center
                .row
                    .col-xs-2.text-left
                        a#Filter_rank.text-center(href='#' )
                            i#Filter_rank_fx.fa.fa-2x.fa-angle-down.active
                    a#title_rank.col-xs-5.text-center(href='#' )
                        p Rank
                    .col-xs-3.text-right

            .col-xs-1.text.text-center
            .col-xs-2.text.text-left
                .row
                    .col-xs-1
                        a#Filter_name.text-center(href='#' )
                            i#Filter_name_fx.fa.fa-2x.fa-angle-right
                    a#title_name.col-xs-5.text-center(href='#' )
                        p Name

            .col-xs-2.text.text-left
                .row
                    .col-xs-1
                        a#Filter_price.text-center(href='#' )
                            i#Filter_price_fx.fa.fa-2x.fa-angle-right
                    .col-xs-7.text-center
                        p Price


            .col-xs-2.text.text-right
                .row
                    .col-xs-1
                        a#Filter_change_1h.text-center(href='#' )
                            i#Filter_change_1h_fx.fa.fa-2x.fa-angle-right
                    .col-xs-7.text-center
                        p Change 1h

            .col-xs-2.text.text-left
                .row
                    .col-xs-1
                        a#Filter_change_24h.text-center(href='#' )
                            i#Filter_change_24h_fx.fa.fa-2x.fa-angle-right
                    .col-xs-7.text-center
                        p Change 24h



            .col-xs-2.text.text-left
                .row
                    .col-xs-1
                        a#Filter_change_7d.text-center(href='#' )
                            i#Filter_change_7d_fx.fa.fa-2x.fa-angle-right
                    .col-xs-7.text-center
                        p Change 7d



        .row
            .col-xs-12
                hr.h5
                br.h5

    #main.container-fluid
    .container-fluid
        .row
            .col-xs-12
                br.h5
                hr.h5

        .row
            .col-xs-12
                br.h5.text
        .row
            .col-xs-2
            .col-xs-8.text-center
                #API_updated.text-center
            .col-xs-2

        .row
            .col-xs-4
            .col-xs-3



