doctype html
html
    head

        script(src='/js/frame.js')
        script( src='/js/theme.js')


        script( src='/js/ven/smart.js')
        script( src='/js/ven/jquery.min.js')
        script( src='/js/ven/bootstrap.min.js')
        script( src='/js/ven/moment.js')


        script( src='/js/main.js')
        script( src='/js/events.js')

        title= title
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='shortcut icon' href='/assets/favicon.ico')

        link(rel='stylesheet' href='/css/font-awesome.css')
        link( rel='stylesheet' href='/css/neon.css')



    body

        block content









